@page "/"
@using MAUIReproSpaces.SharedUI

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<Component1 />

<p>Use an image from the MAUIReproSpaces.SharedUI project:</p>
<p>Image <strong>without</strong> spaces: <img src="_content/MAUIReproSpaces.SharedUI/images/dotnet-bot.png" /></p>
<p>Image <strong>with</strong> a spaces: <img src="_content/MAUIReproSpaces.SharedUI/images/dotnet bot.png" /></p>
